<EditForm Model="@_command" OnValidSubmit="CreateEntryComment">
    <div class="entry-comment-add-container">
        <div class="entry-comment-add">
            <InputTextArea @bind-value="@_command.Content" class="entry-comment-textarea"/>
            <div class="entry-comment-actions">
                <input type="submit" class="btn btn-success btn-chat" value="send"/>
            </div>

            
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public Guid? EntryId { get; set; }
    [Parameter]
    public string EntrySubject { get; set; }

    private string placeHolderText => $"tell us something about'{EntrySubject}'";
    private CreateEntryCommentCommand _command = new ();
    [Parameter]
    public EventCallback<CreateEntryCommentCommand> OnClicked { get; set; }

    public async Task CreateEntryComment()

    {
        _command.EntryId = EntryId;
        await OnClicked.InvokeAsync(_command);
        _command = new CreateEntryCommentCommand();

    }
}
